html,
body {
  padding: 0;
  margin: 0;
  background-color: #1f2420;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

td {
  width: 150px;
  height: 150px;
}

table {
  margin: 5px 10px;
}

.vert {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.hori {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.square {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 64px;
}

.control-area {
  min-width: 200px;
  min-height: 100px;
  color: white;
}

@media screen and (max-width: 500px) {
  table {
    border-spacing: 0;
  }
  
  td {
    width: 75px;
    height: 75px;
    padding: 0;
  }
  
  .square {
    font-size: 32px;
    padding: 0;
    line-height: 1;
    height: 74px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control-area {
    min-width: 100%;
  }
}